@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;700&display=swap');

/*GENERAL STYLE*/
:root {
	font-family: 'Work Sans', sans-serif;
    font-size: 16px;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	box-sizing: border-box;
    line-height: 1;
}

button, input {
    font-family: 'Work Sans', sans-serif;
}

body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
    background: #fcfcfc;
}

button {
    color: #FFFFFF;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

/*DISPLAY GRID FOR LANDING PAGE*/
.d-Grid {
    display: grid;
    grid-template-columns: 800px 1fr;
    align-items: center;
}

/* USER NAVBAR*/
.user--navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
    place-items: center;
    background-color: #FFFFFF;
    height:100px;
    width: 100%;
    z-index: 1000;
    padding: 12px 24px;
    border-bottom: 1px solid black;
}

.user--search {
    display:grid;
    place-items: center;
    text-align: center;
    border-radius: 10px;
}

.user--create-trip {
    background-color: #184E77;
    border-radius: 10px;
    padding: 12px 16px;
    font-size: 16px;
}

.search--bar-container {
    position:relative;
}

.search--icon {
    position:absolute;
    left: 0;
    top:50%;
    transform: translate(60%, -50%);
    height: 24px;
}

.search--bar {
    border: none;
    text-indent: 40px;
    width: 600px;
    margin:0 auto;
    padding:16px 12px;
    background-color: #F7F7F7;
    border-radius: 4px;
    font-size: 12px;
}

.user--dropdown-content {
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 40px; 
    left: -30px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100px;
    display: flex;
    flex-direction: column;
}
  
.user--dropdown-content button { 
    display: block;
    padding: 8px 5px;
    text-align: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: black;
}
  
.user--dropdown-content button:hover {
    background-color: #184E77;
    color: white;
}

.user--create-trip {
    background-color: #184E77;
    padding: 14px 26px;
    font-size: 18px;
}

.user--links {
    display:flex;
    gap:10px;
    align-items: center;
}

/*NAVBAR*/
.navbar {
    position: fixed;
    top: 0;
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    padding: 10px 120px;
    align-items: center;
    width: 100%;
    z-index: 1000; 
}

.cebu--route {
    max-height: 55px;
}

.link--button {
    margin-right: 20px;
    padding: 0;
    font-weight: 700;
    font-size: 12px;
    background-color: transparent;
    color: inherit;
    border: none;
    cursor: pointer;
}

/* FOOTER */
.footer {
    background-color: #E5E5E5;
    width: 100%;
    display:grid;
    place-items:center;
    height:92px
}

.footer--content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:80%;
}

.footer--logo {
    margin-left: 50px;
    height: 40px;
    margin-right: 25px;
}

.footer--text {
    font-size: 12px;
    color: #6F6F6F;
}

/* FOOTER-ICONS */
.icons {
    display: flex;
    list-style-type: none;
}

.icons li img.instagram , img.facebook ,img.twitter{
    height: 25px;
    margin: 0 10px;
}

/*LOGIN and SignUp PAGE*/
.container--sign-log {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    height: 100vh;
    overflow:hidden;
}

@media screen and (max-width: 1253px) {
    .container--sign-log {
        overflow:visible;
    }
   
}

.container-form {
   padding: 60px;
}

.container-form >h2 {
    margin: 0;
    font-weight: 800;
}


.login-sign-link {
    margin-top: 10px;
    text-align: left;
    font-size: 13px;
    color: gray;
}

.login-sign-link a {
    color: #184E77;
    text-decoration: none;
    font-weight: 800;
}

.button-login-sign{
    height: 40px;
    width: 100%;
    background-color: #184E77;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 25px;
}

.container-form label,
.container-form label {
    margin-top: 15px;
    font-size: 15px;
    color: gray;
}

.container-form input,
.container-form input {
    padding: 8px;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    font-size: 15px;
}

.cebu--logo {
    position: absolute;
    top: 0;
    margin-top: 10px;
}


/*LOGIN PAGE*/
.container-images > img {
    width: auto; 
    height: 100vh; 
    max-width: 100%;
    object-fit: cover; 
    object-position: center; 
}

.forgot-password {
    margin: 5px 0 15px 0;
    text-align: left;
}

.forgot-password a {
    color: #184E77;
    font-size: 13px;
    text-decoration: none;
}

/*MODAL SIGN*/
.name-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
}

/*View Password*/

input[type="password"],
input[type="text"] {
    width: 100%;
}

.toggle-password-button {
    position: relative;
    float: right;
    bottom: 30px;
    right: 15px;
    background: transparent;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

/*MODAL ADD REVIEW*/
.addReview--modal {
    background-color: #FFFFFF;
    padding: 35px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 600px;
    position: relative;
}

.addReview--modal >h2 {
    margin: 0;
    font-size: 25px;
}

.addReview--modal > p  {
    margin: 0.2rem 0 2rem 0;
    font-size: 15px;
    color: #6F6F6F;
}

.addReview--button  {
    background-color: #184E77;
    border: none;
    text-decoration: none;
    height: 40px;
    font-size: 12px;
    width: 150px;
    color: #FFFFFF;
    border-radius: 10px;
    align-items: center; 
    justify-content: center; 
    margin-left: auto;
}

.addReview--input {
    width: 100%;
    margin: 1rem 0 1rem 0;
}

.addReview--rating{
    display: flex;
}


/*LANDING PAGE- PLAN*/
.hero {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0.5, 0.7)), url('/herobackground.jpeg');
    background-position: center top;
    background-size: cover;
    border-radius: 0 0 50px 50px;
    height: 700px;
    padding: clamp(80px, 20vw, 190px) clamp(60px, 10vw, 120px);
    color: #FFFFFF;
}
.title > h1 {
    font-size: clamp(60px, 10vw, 100px);
}
.title {
    width: clamp(60%, min(100%, 60%), 100%);
}
.title > h1 {
    font-weight: 800;
    margin: 0;
}
.title > p {
    font-size: clamp(12px, 5vw, 30px);
    font-weight: 200;
}
.title > button {
    background-color: #38A3A5;
    padding: 15px 50px;
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none;
}

.hero--guide {
    background-image: url('/beach.jpg');
    height: 700px;
    background-position: center bottom;
    background-size: cover;
    margin: 40px 30px;
    border-radius: 50px;
    padding: 50px;
    color: #184E77;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.guide--cards {
    display: flex;
    flex-direction: row;
}
.guide--cards .card > h1 {
    font-size: 50px;
}
.guide--cards .card > p {
    font-size: 20px;
}
.guide--cards > .card {
    background-color: #F5F1ED;
    border-radius: 50px;
    border-top-left-radius: 0; /* No border radius for this corner */
    border-top: 10px solid #38A3A5;
    padding: 20px 40px;
    margin: 10px;
}
.hero--guide > p {
    color: white;
    font-size: 20px;
    font-weight: 200;
    margin-top: 50px;
}
/*LANDING PAGE- SEE*/
.hero--map{
    padding: 60px 120px;
    height: auto;
}

.hero--map-photo{
    margin: 0;
    max-width: 600px;
    object-fit: cover;
    object-position: center;
}

.hero--map-text{
    color: #333333;
    text-align: start;
    padding-left: 20px;
}

.hero--h1 {
    margin: 0 10px;
    text-align: left;
    font-size: 55px;
    font-weight: 900;
    max-width: 100%;
}

.hero--p  {
    font-size: 30px;
}

/*LANDING PAGE- DISCOVER*/
.hero--destination{
    display: relative;
    background-color: #F9F9F9;
    justify-content: center;
    padding: 20px 120px;
    width: 100%;
    object-fit: cover;
}

.card--destination {      
    border-radius: 10px;
    background-color: #F9F9F9;
    border-bottom: 15px solid #34A0A4;
}

.hero--destination-title{
    font-size: 40px;
    color: #333333;
}

.hero--cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    overflow-x: auto;
}

.card--dest-image {
    width: 100%;
}

.card--image {
    border-radius: 9px;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 250px;
}

.card--text {
    margin: 20px;
}

.card--title {
    overflow: hidden;
    font-size: 25px;
    margin: 0 0 10px 0;
}

.card--description{
    align-items: center;
    font-size: 15px;
    max-width: 100%;
    text-align: justify;
    text-justify: auto;
    color:gray;
}

/*FOR CELLPHONE*/
@media screen and (max-width: 768px) {
    .hero--destination {
        padding: 50px; 
    }

    .hero--cards {
        grid-template-columns: 1fr; 
        overflow-x: hidden; 
    }

    
}

/*FOR IPAD*/
@media screen and (max-width: 880px) {
    .hero--cards {
        grid-template-columns: repeat(1, 1fr); 
	}

    .home---page-content {
        padding:0;
    }
}

@media screen and (min-width: 768px) and (max-width: 880px) {
	.hero--cards {
	    grid-template-columns: repeat(2, 1fr);
	}
}

/* DETAIL PAGES */

/*DETAIL PAGE TITLE & ADDRESS & TIME  */
.detailPages {
    display: flex;
    flex-direction: column;
}

.detailPage--text {
    margin: 10rem 120px 0 120px;
}

.detailPage--title {
    font-size: 30px;
    font-weight: 900;
    margin: 0 0 12px 0;
}

.detailPage--address-time{
    align-items: center;
    font-size: 15px;
    color: gray;
}

.detailPage--address-time > p { 
    margin: 0;
}

.detailPage--icon {
    width: 12px; 
    height: 12px; 
    margin-right: 8px;
}

.detailPage--rating-stars {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.detailPage--star {
    font-size: 15px;
}

.detailPage--rating-category {
    display: relative;
    font-size: 15px;
    margin-top: 10px;
}

/*DETAIL PAGE - ABOUT & PICTURE */
.detailPage--sections {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    margin: 70px 120px 0 120px;
}

.detailPage--about {
    text-align: justify;
    text-justify: auto;
    border: 2px solid #E7E7E7;
    width: 40%;
    padding: 20px; 
    border-radius: 10px;
    font-size: 17px;
}

.detailPage--about > h1,
.detailPage--about > p {
   padding: 10px;
}

/*PICTURES OF DESTINATION*/
.detailPage--pictures {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailPage--images {
    object-fit: cover;
    object-position: center;
    width: 100%;
    margin-left: 50px;
}

.detailPage--main-image {
    border-radius: 10px;
    height: 550px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

/*MINI PICTURES*/
.detailsPic--thumbnail {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 1rem;
}

.thumbnail {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border: 2px solid #E7E7E7;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}
.thumbnail:hover {
    border-color: #3498db;
}

/*DETAIL PAGE - REVIEW SECTION*/
.detailPage--review {
    display: flex;
    margin: 70px 120px 0 120px;
    height: auto;
}

/* REVIEW WITH STARS and PROGRESS BAR */
.detailPage--review-stars {
    justify-content: center;
    width: 30%;
    height: auto;
}

.progress--bar {
    margin-top: 15px;
    font-size: 15px;
}

/* USER AND ADD REVIEW BUTTON*/
.review--write {
    padding: 5px; 
    margin-top: 90px;
    margin-left: 125px;
}

/* ADD REVIEW BUTTON */
.add--review {
    background-color: white;
    border: 3px solid #184E77;
    font-size: 15px;
    color: #184E77;
    margin: 10px 50px;
    padding: 10px;
}

/*USER LOGO AND USER NAME*/
.user--details {
    display: flex;
    align-items: center; 
}

.user--username {
    font-size: 15px;
    font-weight: 600;
}

/*USER REVIEW ABOUT SPOT*/
.user--review {
    max-width: 55%;
    margin-left: auto;
    margin-right: 120px;
    margin-bottom: 100px;
}

.user--review > p{
    font-size: 15px;
    width: 100%;
    height: 100%;
    text-align: justify;
    text-justify: auto;
    margin-bottom: 30px;
}

.review--row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.user--logo-and-name,
.star--rating-and-date {
    display: flex;
    align-items: center; 
}

.date--posted {
    font-size: 15px;
    color: #333333;
    margin-left: 10px;
}

/*SEARCH PAGE*/

.searchPage--container {
    margin: 150px auto; 
    width: 60%;
    background-color: #FFFFFF;
}

.searchPage--title {
    color:#333333;
    font-size: 20px;
}

.user--profile {
    display: grid;
    position: relative;
    place-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #F0C34D;
    cursor: pointer;
    font-size: 18px;
}

.user--profile p {
    position: absolute;
    color: white;
}


.searchPage--result{
    color: gray;
    font-size: 16px;
}

.searchPage--navbar {
    display: flex;
    justify-content: space-around;
    border: 1px solid gray;
    border-radius: 10px 10px 0 0;
    flex-wrap: wrap; 
}

.searchPage--navbar > a {
    color: gray;
    padding: 20px;
    font-size: 16px;
    text-decoration: none;
}

.searchPage--details {
    display: flex;
    justify-content: start;
    border: 1px solid gray;
}

.searchPage--pic {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    margin: 10px;
}

.searchPage--picture {
    width: 50%;
}

.searchPage--info {
    margin: 0 30px;
}

.home--page-content {
    max-width: 1200px;
    min-height: 100vh;
    height:100%;
    width:100%;
    margin: 130px auto;
    color: black;
}

.home--page-content > * {
    padding: 40px 0px;
}

.home--banner {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 120px;
    grid-gap: 20px;
    color: white;
    border-bottom: 1px solid #e7e7e7;
}

.home--banner > div {
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    padding: 0px 36px;
    display: grid;
    align-items:center;
    cursor: pointer;
}

.home--banner > div:first-child {
    grid-row: span 2;
    background: #39a3a5;
}

.home--banner-business {
    background-color: #ED6A5A; 
}
  
.home--banner-ai {
    background: linear-gradient(270deg, #184E77 0.05%, #38A3A5 36.19%, #57CC99 69.75%, #80ED99 99.18%);
}

.home--your-trips {
    font-size: 24px;
    font-weight: 700;
}

.create {
    border: 1px solid #e7e7e7;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.create--layout {
    display:grid;
    grid-template-columns: 2fr 1fr;
    height:100vh;
    overflow-y:hidden;
}

.create--map-wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

.create--map {
    position: absolute;
    width: 100%;
    height: 100%;
}

.create--nav-bar {
    background:white;
    padding: 20px 50px;
    border-bottom: 1px solid #e7e7e7;
}

.create--main-content {
    background: #fcfcfc;
    height:calc(100vh - 72px);
    display:grid;
    place-items: center;
}

.create--form-container {
    width: 80%;
    background:white;
    border-radius: 50px;
    border: 1px solid #e7e7e7;
    padding:95px 73px;
}

.create--form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 20px;
}

.create--form-title {
    font-size: 35px;
    font-weight: bold;
}

.create--form-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.create--form-row {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.create--form-input {
    padding: 14px 30px;
    font-size: 20px;
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    font-family: 'Work Sans', sans-serif;
}

.create--form-button {
    background: #184E77;
    color: white;
    padding: 14px 0px;
    width: 180px;
    border-radius: 10px;
    font-size:20px;
}

.create--form-footer {
    text-align: center;
}

.create--form > input::placeholder{
    color: #767676;
}

.create--currency {
    position:relative;
}

.create--currency > input {
    width: 100%;
}

.create--form-input.budget {
    text-indent: 60px;
}

.create--currency-indicator {
    position: absolute;
    left:20px;
    top: 50%;
    padding: 0px 20px;
    transform: translateY(-50%);
}

.itinerary--container {
    display: flex;
    overflow-x: hidden;
}

.itinerary--image {
    object-fit: cover;
}